ul{
    list-style: none;
}

ul.principal-menu{
    margin-top: -40px;
    margin-left: 65%;
    position: absolute;
    display: flex;
    flex-direction: reverse;
}

div.header {
    background-color: red;
    padding: 10px;
    text-align: left;
    height: auto;
    width: auto;
}

#texto-logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
    color: white;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

img.gif-pikachu{
    float: right;
    shape-outside: inset(0px);
    width: 200px;
    margin-top: -120px;
    margin-right: 50px;
}

.circle-pokemon1{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    margin-top: -3.5%;
    margin-left: 45%;
}

.circle-pokemon2 {
    position: absolute;
    width: 80px;
    height: 80px;
    border-color: black;
    border-radius: 50%;
    background-color: white;
    margin-top: 10%;
    margin-left: 10%;
}

.circle-pokemon3 {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    margin-top: 10%;
    margin-left: 9.7%;
}

.logo {
    top: 12px;
    height: 60px;
    width: auto;
    position: relative;
}

.nav-menu li a{
    color: white;
    text-decoration: none;
    padding: 2px 10px 10px;
    display: block;
}

.nav-menu > li{
    float: left;
    position: relative;
}

.nav-menu svg.menu{
    color: grey;
}

.nav-menu li ul{
    background-color: red;
    position: absolute;
    min-width: 140px;
    display: block;
    visibility: hidden;

    opacity: 0;
    transform: translateY(-500px) scale(0.9);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    z-index: 1000;
}

.nav-menu li:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translateY(-125%) scale(1);
}

.nav-menu{
    display: flex;
    justify-content: right; 
    align-items: center;    
    height: 0px;          
    width: 95%;
}

#inicio, #pokemons, #tipos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

div.spacer-header {
    height: 10px;
    background-color: black;
}

div.container {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: auto;
    padding: 20px;
    text-align: center;
}

#tittle {
    color: #333333;
}

#watermark {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.1;
    color: black;
    rotate: -20deg;
}

.card{
    position: relative;
    width: auto;
    height: auto;
    border-radius: 20px;
    background: white;
    padding: 15px;
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    transition: 0.5s ease-out;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.card:hover{
    border-color: rgb(216, 20, 20);
    box-shadow: 0 4px 18px rgba(0,0,0,0.25);
    opacity: 1;
}

.card-link{
    text-decoration: none;
    height: 100%;

}

li.point{
    margin-top: -40px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.name{
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    display: block;
    color: #333;
}

div.containerdatabase{
    display: flex;
    flex-wrap: wrap;
}

footer {
    top: 20px;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: auto;
}